.music-card {
  background-color: #181818;
  border-radius: 8px;
  padding: 16px;
  transition: background-color 0.3s;
  cursor: pointer;
  width: 100%;
}

.music-card:hover {
  background-color: #282828;
}

.card-img-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Tạo hình vuông */
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #1db954;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s;
}

.music-card:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
}

.card-title {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-artist {
  color: #b3b3b3;
  font-size: 14px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
  pointer-events: auto;
}

.music-card:hover .favorite-button-container {
  opacity: 1;
}
